*{
	margin:0px;
	padding:0px;
}
header>div>img{
	margin-left: 184px;
	margin-top: 15px;
	margin-bottom: 15px;
}

header>div>ul{
	list-style-type: none;
	float: right;
}
header>div>ul>li{
	float: right;
	margin-top: 60px;
	margin-right: 25px;
	color:;
	font-family: Century Gothic;
	font-size:13px;
}
header>div>ul>#id1{
	float: right;
	margin-top: 60px;
	margin-right: 190px;
	color:;
}
header>div>ul>li:hover{
	color: #2BA9E1;
	cursor: pointer;
}
.ramka{
	background-color:#13698F;
	text-align: center;
	margin-bottom:px;
}
.ramka h3{
	color:white;
	font-weight:300;
	font-family: Century Gothic;
	padding-top:7px;
	padding-bottom: 7px;
	cursor: pointer;
}
/*2-столбец*/ /*section*/
.main{
	list-style-type: none;
	float: left;
	display:inline-table;
}
.main>li{
	color: white;
	background-color:#29AAE3;
	float: right;
	width: 365px;
	height: 28px;
	padding-top:7px;
	padding-bottom: 5px;
	list-style-type: none; 
	position:relative;
	
}
.main:hover li{
	z-index:2;
	
}
.main:hover li ul{
	background:white;
}
.main>li>ul{
	display:none;
	transition:;
	list-style-type: none;	
}
.main>li:hover ul {
	display: inline-block;
	margin-top: 11px;
	/*/margin-bottom: 50px;*/
}
.main>li>p{
	display:block;
	font-size: 17px;
	color: white;
	font-family:/*Century Gothic*/ Arial;
	padding-left:180px; 
	font-weight:bold;
	padding-top:3px;
}
.main>li>ul>li{
	position:relative;
	color:#5d6066;
	padding:5px 32px 5px 32px;
	transition:background 0.4s 0.1s;
	font-size:16px;
	font-family: Arial;
	font-weight: 300;
}
.main>li>ul>li:hover{
	/*background:blue;
	color: white;*/
	text-shadow: 1px 2px 1px silver;
}
.main li ul li a{
	color:#5d6066;
	text-decoration:none;
}
.main li p a{
	color: white;
	text-decoration:none;
}
/*Это main 1*/
.main1{
	list-style-type: none;
	float: left;
}
.main1>li{
	color: white;
	background-color:#29AAE3;
	float: right;
	width: 204px;
	list-style-type: none;
	height:28px;
	padding-top:7px;
	padding-bottom: 5px; 
	position:relative;
}
.main1>li>ul{
	display:none;
	list-style-type: none;
}
.main1:hover>li{
	z-index:2;
}
.main1:hover li ul{
	background:white;
}
.main1>li:hover ul {
	display: inline-block;
	margin-top: 11px;
}
.main1>li>p{
	display:block;
	font-size: 17px;
	color: white;
	font-family:/*Century Gothic*/ Arial;
	padding-left:px;
	font-weight:bold;
	padding-top:3px; 
}
.main1>li>ul>li{
	color:#5d6066;
	padding-bottom: 15px;
	padding-top:10px;
	padding-right: 25px;
	transition:background 0.4s 0.1s;
	font-size:16px;
	font-family: Arial;
	border-bottom: 1px dashed silver;
}
.main1>li>ul>li:hover{
	/*background-color:blue;
	color:white;*/
	text-shadow: 1px 2px 1px silver;	
}
.main1 li ul li a{
	color:#5d6066;
	text-decoration:none;
}
.main1 li p a{
	color:white;
	text-decoration:none;
}
.ul1{
	margin-left:-4px;
}
/*icons*/
section>.icon-twitter>li{
	display: inline-block;
	height: 30px;
	padding-top: 6px;
	padding-bottom: 5px;
}
section{
	background-color: #29AAE3;
	margin-bottom:50px;
}
/*slider1*/
article{
	width:1000px;
	position:relative;
	left:170px;
}
article .my-slider{
	list-style-type: none;
}
.pictures-menu{
	margin-left:80px;
}
/*slider2*/
aside{
	display:inline-block;
	width: 700px;
	margin-left:184px;
	padding-right: 250pz;
}
.my-slider2>li{
	margin-left:20px;
}
/*NEWS*/
.div-news{
	background-color:;
	border-style:solid;
	border-color: #2BA9E1;
	cursor:pointer;
	width:300px;
	height: 344px;
	display: inline-block;
	clear:both;
	float:right;
	margin-right:159px;
	overflow-y:scroll;
}
div>p{
	font-size:40px;
	font-family:arial;
	font-weight: bold;
	margin-left:25px;
	margin-top:5px;
	color:/*#2BA9E1*/ #565a60;
}
nav{
	margin-right:15px;
	margin-left:8px;
	background-color:;
}
nav ul .text{
	list-style-type:none;
	list-style-image: url();
	color:;
	margin-left:3px;
	margin-top:8px;
	font-family:Century Gothic;
}
nav>ul>.data{
	margin-top:10px;
	list-style-type:none;
	list-style-image: url(images/blue point.png);
	margin-left:20px;
	color:silver;
	margin-bottom:10px;
	font-family:arial;
	border-bottom:solid 1px silver;
}
/*navigation-menu*/
#navigationMenu li{
	list-style:none;
	height:39px;
	padding:2px;
	width:39px;
}
#navigationMenu .li1{
	margin-bottom:3px;
	background-image: url('phone-2-32.gif');
	background-repeat:no-repeat;
	background-position: center;
	border:1px solid #13698F;
	background-color: #fff;
	background-size: 23px;
}
#navigationMenu .li2{
	background-image: url('email-15-34.gif');
	background-color: #fff;
	background-repeat:no-repeat;
	background-position: center;
	border:1px solid #13698F;
	background-size: 26px;
	margin-bottom: 3px;
}
#navigationMenu .li3{
	background-image: url('telegram.gif');
	background-color: #fff;
	background-repeat:no-repeat;
	background-position: center;
	border:1px solid #13698F;
	background-size: 25px;
}
#navigationMenu span{
	
	width:0;
	left:41px;
	padding:0;
	position:absolute;
	overflow:hidden;
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	line-height:39px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}
#navigationMenu a{
	height:39px;
	width:38px;
	display:block;
	position:relative;
}
#navigationMenu a:hover span{ width:auto; padding:0 20px;overflow:visible; }
#navigationMenu a:hover{
	text-decoration:none;
	-moz-box-shadow:0 0 5px #9ddff5;
	-webkit-box-shadow:0 0 5px #9ddff5;
	box-shadow:0 0 5px #9ddff5;
}
#navigationMenu .call {	background-position:0 0;}
#navigationMenu .call:hover {	background-position:0 -39px;}
#navigationMenu .call span{
	background-color: #13698F;
	color:white;
	font-weight: bold;
	font-family:Century Gothic; 
	/*text-shadow:1px 1px 0 #99bf31;*/
	margin-bottom:15px;
}
#navigationMenu .messages {	background-position:0 0;}
#navigationMenu .messages:hover {background-position:0 -39px;}
#navigationMenu .messages span{
	background-color: #13698F;
	color:white;
	/*text-shadow:1px 1px 0 #d28344;*/
}
#navigationMenu .telegramm{background-position: 0 0}
#navigationMenu .telegramm:hover {background-position: 0 -39px}
#navigationMenu .telegramm span{
	background-color: #13698F;
	color: #fff;
}
.Menu{
	position: fixed;
	background-color: #2BA9E1;
	top:220px;
}
footer{
	background-color: #2BA9E1;
}
footer img{
	margin-left:184px;
	margin-top:45px;
	margin-bottom: 77px;
}
.section-left{
	display: inline-block;
	background-color:;
	position: ;
}
.section-left ul{
	list-style-type: none;
	margin-left:184px;
}
.section-left ul{
	color:white;
	position: relative;
	bottom:50px;
	font-family: Arial;
	font-size:16px;
	font-weight:normal;
}
.section-left a{
	text-decoration:none;
	color:white;
}
.section-left2{
	background-color:;
	display: inline-block;
	position:relative;
	margin-top:60px;
	margin-left:70px;
	padding-bottom: 40px;
}
.section-left2 ul{
	margin-top:30px;
}
.ul-left{
	display: inline-block;
	position: relative;
	bottom:18px;
	list-style-type: none;
}
.ul-right{
	display: inline-block;
	list-style-type: none;
}
.section-left2 p{
	color:white;
	font-size:19px;
	font-family: Arial;
	padding-bottom:2px;
	background-color:;
	padding-top:2px;
	border-bottom:1px solid white;
}
.section-right{
	display: inline-block;
	float: right;
	position: relative;
	right:400px;
	top:60px;
}
.section-right p{
	color:white;
	font-size:19px;
	font-family: Arial;
	padding-bottom:2px;
	background-color:;
	padding-top:2px;
	border-bottom:1px solid white;
}
.section-right ul{
	list-style-type: none;
	margin-top:30px;
}
.section-right2 p{
	color:white;
	font-size:19px;
	font-family: Arial;
	padding-bottom:2px;
	background-color:;
	padding-top:2px;
	border-bottom:1px solid white;
}
.section-right2{
	display:inline-block;
	float:right;
	position:absolute;
	margin-top:60px;
	margin-left:300px;
}
.section-right2 ul{
	margin-top:30px;
	list-style-type: none;
}
.ul-left a,.ul-right a,.section-right ul li a,.section-right2 ul li a{
	color:white;
	font-size:16px;
	text-decoration:none;
	font-family:Arial;
}
/*countries*/
.countries{
	background-color: #13698F;
	margin-bottom: 0px;
}
.countries span{
	color:white;
	margin-left:100px;
	font-family:Century Gothic;
}
.countries ul{
	list-style-type:none;
	color:white;
	display:inline-block;
	margin-left:120px;
	padding-bottom:15px;
	padding-top:13px;
	font-family:Arial;
}
.countries ul li{
	display:inline-block;
	margin-right:5px;
}
.countries ul a{
	color: #fff;
	list-style-type: none;
}
.countries ul p{
	color:white;
	display:inline-block;
	font-family:Century Gothic;
	cursor: pointer;
}

/*message*/
.overlay{
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target{
	visibility: visible;
	opacity: 1;
}
.popup{
	background-color: #fff;
	border:3px solid #fff;
	display: inline-block;
	left: 50%;
	opacity: 0;
	padding:15px;
	position: fixed;
	top: 40%;
	visibility: hidden;
	z-index: 10;
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.popup .message p{
	color: red;
	padding-left:100px;
	padding-right: 15px;
	color: black;
	font-size: 18px;
	cursor: pointer;
	font-weight: normal;	
} 
.popup .message p span{
	font-weight: bold;
	color: red;
}
.popup .message h2{	
	color: blue;
	font-weight:normal;
	font-family: Century Gothic;
	padding-left: 120px;
	margin-bottom: 5px;
	cursor: pointer;
}
.message{
	background-color: cyan;
	display: inline;
	clear: left;
}
#picture{
	background-color: ;
	clear: both;
	float: left;
	display: inline-block;
}
.popup img{
	display: inline-block;
	background-color:;
	clear: bottom;
}
.overlay:target+.popup{
	top: 50%;
	opacity: 1;
	visibility: visible;
}
.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    font-family: cursive;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}